.elementor-9928 .elementor-element.elementor-element-b95b575 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --background-transition: 0.3s;
  --z-index: 9999;
}
.elementor-9928
  .elementor-element.elementor-element-b95b575:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-9928
  .elementor-element.elementor-element-b95b575
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #fffdfb00;
}
.elementor-9928 .elementor-element.elementor-element-b95b575,
.elementor-9928 .elementor-element.elementor-element-b95b575::before {
  --border-transition: 0.3s;
}
.elementor-9928 .elementor-element.elementor-element-e092ce7 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --justify-content: space-between;
  --align-items: center;
  --flex-wrap: wrap;
  --background-transition: 0.3s;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-9928 .elementor-element.elementor-element-bac108e {
  --display: flex;
  --background-transition: 0.3s;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-9928 .elementor-element.elementor-element-bac108e.e-con {
  --flex-grow: 0;
  --flex-shrink: 0;
}
.elementor-9928 .elementor-element.elementor-element-1cef3b1 {
  text-align: left;
}
.elementor-9928 .elementor-element.elementor-element-1cef3b1 img {
  width: 100%;
  max-width: 80%;
}
.elementor-9928 .elementor-element.elementor-element-405c4d6 {
  --display: flex;
  --background-transition: 0.3s;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-9928 .elementor-element.elementor-element-405c4d6.e-con {
  --flex-grow: 0;
  --flex-shrink: 0;
}
.elementor-9928
  .elementor-element.elementor-element-3478d19
  .elementor-menu-toggle {
  margin-left: auto;
}
.elementor-9928
  .elementor-element.elementor-element-3478d19
  .elementor-nav-menu
  .elementor-item {
  font-family: roboto, Sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: none;
  line-height: 20px;
}
.elementor-9928
  .elementor-element.elementor-element-3478d19
  .elementor-nav-menu--main
  .elementor-item {
  color: #fff;
  fill: #fff;
}
.elementor-9928
  .elementor-element.elementor-element-3478d19
  .elementor-nav-menu--main
  .elementor-item:hover,
.elementor-9928
  .elementor-element.elementor-element-3478d19
  .elementor-nav-menu--main
  .elementor-item.elementor-item-active,
.elementor-9928
  .elementor-element.elementor-element-3478d19
  .elementor-nav-menu--main
  .elementor-item.highlighted,
.elementor-9928
  .elementor-element.elementor-element-3478d19
  .elementor-nav-menu--main
  .elementor-item:focus {
  color: var(--e-global-color-text);
  fill: var(--e-global-color-text);
}
.elementor-9928
  .elementor-element.elementor-element-3478d19
  .elementor-nav-menu--main
  .elementor-item.elementor-item-active {
  color: #ffffff;
}
.elementor-9928
  .elementor-element.elementor-element-3478d19
  .elementor-nav-menu--dropdown
  a,
.elementor-9928
  .elementor-element.elementor-element-3478d19
  .elementor-menu-toggle {
  color: #000;
}
.elementor-9928
  .elementor-element.elementor-element-3478d19
  .elementor-nav-menu--dropdown {
  background-color: var(--e-global-color-5add9054);
  border-radius: 6px 6px 6px 6px;
}
.elementor-9928
  .elementor-element.elementor-element-3478d19
  .elementor-nav-menu--dropdown
  a:hover,
.elementor-9928
  .elementor-element.elementor-element-3478d19
  .elementor-nav-menu--dropdown
  a.elementor-item-active,
.elementor-9928
  .elementor-element.elementor-element-3478d19
  .elementor-nav-menu--dropdown
  a.highlighted,
.elementor-9928
  .elementor-element.elementor-element-3478d19
  .elementor-menu-toggle:hover {
  color: #fff;
}
.elementor-9928
  .elementor-element.elementor-element-3478d19
  .elementor-nav-menu--dropdown
  a:hover,
.elementor-9928
  .elementor-element.elementor-element-3478d19
  .elementor-nav-menu--dropdown
  a.elementor-item-active,
.elementor-9928
  .elementor-element.elementor-element-3478d19
  .elementor-nav-menu--dropdown
  a.highlighted {
  background-color: #ffffff;
}
.elementor-9928
  .elementor-element.elementor-element-3478d19
  .elementor-nav-menu--dropdown
  a.elementor-item-active {
  color: #ffffff;
  background-color: #fff;
}
.elementor-9928
  .elementor-element.elementor-element-3478d19
  .elementor-nav-menu--dropdown
  .elementor-item,
.elementor-9928
  .elementor-element.elementor-element-3478d19
  .elementor-nav-menu--dropdown
  .elementor-sub-item {
  font-family: roboto, Sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: none;
}
.elementor-9928
  .elementor-element.elementor-element-3478d19
  .elementor-nav-menu--dropdown
  li:first-child
  a {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.elementor-9928
  .elementor-element.elementor-element-3478d19
  .elementor-nav-menu--dropdown
  li:last-child
  a {
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
.elementor-9928
  .elementor-element.elementor-element-3478d19
  .elementor-nav-menu--dropdown
  a {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.elementor-9928 .elementor-element.elementor-element-342c886 {
  --display: flex;
  --background-transition: 0.3s;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
  background: var(--color-primary) 15%, var(--color-tertiary) 45%, var(--color-pink) 75%, var(--color-secondary) 100%;
}
.elementor-9928
  .elementor-element.elementor-element-b04e81f
  .elementor-button-content-wrapper {
  flex-direction: row;
}
.elementor-9928
  .elementor-element.elementor-element-b04e81f
  .elementor-button
  .elementor-button-content-wrapper {
  gap: 8px;
}
.elementor-9928 .elementor-element.elementor-element-b04e81f .elementor-button {
  font-family: roboto, Sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: none;
  line-height: 20px;
  border-style: solid;
  border-width: 0;
  border-radius: 10px 10px 10px 10px;
  padding: 14px 25px 12px;
}
.elementor-9928
  .elementor-element.elementor-element-b04e81f
  .elementor-button:hover,
.elementor-9928
  .elementor-element.elementor-element-b04e81f
  .elementor-button:focus {
  background-color: var(--e-global-color-741ce06);
  border-color: #ffffff;
}
.elementor-9928
  .elementor-element.elementor-element-b04e81f
  > .elementor-widget-container {
  margin: 0;
  padding: 0;
}
.elementor-9928 .elementor-element.elementor-element-8912c7d {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --background-transition: 0.3s;
  box-shadow: 0 0 5px 0 rgba(185.3, 185.3, 185.3, 0.5);
  --position: fixed;
  top: 0;
}
.elementor-9928
  .elementor-element.elementor-element-8912c7d:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-9928
  .elementor-element.elementor-element-8912c7d
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: black;
}
.elementor-9928 .elementor-element.elementor-element-8912c7d,
.elementor-9928 .elementor-element.elementor-element-8912c7d::before {
  --border-transition: 0.3s;
}
body:not(.rtl) .elementor-9928 .elementor-element.elementor-element-8912c7d {
  left: 0;
}
body.rtl .elementor-9928 .elementor-element.elementor-element-8912c7d {
  right: 0;
}
.elementor-9928 .elementor-element.elementor-element-0d9fff7 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --align-items: center;
  --background-transition: 0.3s;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-9928 .elementor-element.elementor-element-0d9fff7.e-con {
  --flex-grow: 0;
  --flex-shrink: 0;
}
.elementor-9928 .elementor-element.elementor-element-4c35725 {
  text-align: left;
}
.elementor-9928 .elementor-element.elementor-element-4c35725 img {
  width: 100%;
  max-width: 80%;
}
.elementor-9928
  .elementor-element.elementor-element-85f26c2
  .elementor-icon-wrapper {
  text-align: center;
}
.elementor-9928
  .elementor-element.elementor-element-85f26c2.elementor-view-stacked
  .elementor-icon {
  background-color: #ffffff;
}
.elementor-9928
  .elementor-element.elementor-element-85f26c2.elementor-view-framed
  .elementor-icon,
.elementor-9928
  .elementor-element.elementor-element-85f26c2.elementor-view-default
  .elementor-icon {
  color: #ffffff;
  border-color: #ffffff;
}
.elementor-9928
  .elementor-element.elementor-element-85f26c2.elementor-view-framed
  .elementor-icon,
.elementor-9928
  .elementor-element.elementor-element-85f26c2.elementor-view-default
  .elementor-icon
  svg {
  fill: #ffffff;
}
body:not(.rtl) .elementor-9928 .elementor-element.elementor-element-85f26c2 {
  right: 0;
}
body.rtl .elementor-9928 .elementor-element.elementor-element-85f26c2 {
  left: 0;
}
.elementor-9928 .elementor-element.elementor-element-85f26c2 {
  top: 0;
}
.elementor-9928
  .elementor-element.elementor-element-b0713bf
  .elementor-nav-menu
  .elementor-item {
  font-family: roboto, Sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: none;
  line-height: 20px;
}
.elementor-9928
  .elementor-element.elementor-element-b0713bf
  .elementor-nav-menu--main
  .elementor-item {
  color: #000;
  fill: #000;
}
.elementor-9928
  .elementor-element.elementor-element-b0713bf
  .elementor-nav-menu--main
  .elementor-item:hover,
.elementor-9928
  .elementor-element.elementor-element-b0713bf
  .elementor-nav-menu--main
  .elementor-item.elementor-item-active,
.elementor-9928
  .elementor-element.elementor-element-b0713bf
  .elementor-nav-menu--main
  .elementor-item.highlighted,
.elementor-9928
  .elementor-element.elementor-element-b0713bf
  .elementor-nav-menu--main
  .elementor-item:focus {
  color: var(--e-global-color-d746898);
  fill: var(--e-global-color-d746898);
}
.elementor-9928
  .elementor-element.elementor-element-b0713bf
  .elementor-nav-menu--dropdown
  a,
.elementor-9928
  .elementor-element.elementor-element-b0713bf
  .elementor-menu-toggle {
  color: #000;
}
.elementor-9928
  .elementor-element.elementor-element-b0713bf
  .elementor-nav-menu--dropdown {
  background-color: var(--e-global-color-5add9054);
  border-radius: 6px 6px 6px 6px;
}
.elementor-9928
  .elementor-element.elementor-element-b0713bf
  .elementor-nav-menu--dropdown
  a:hover,
.elementor-9928
  .elementor-element.elementor-element-b0713bf
  .elementor-nav-menu--dropdown
  a.elementor-item-active,
.elementor-9928
  .elementor-element.elementor-element-b0713bf
  .elementor-nav-menu--dropdown
  a.highlighted,
.elementor-9928
  .elementor-element.elementor-element-b0713bf
  .elementor-menu-toggle:hover {
  color: #fff;
}
.elementor-9928
  .elementor-element.elementor-element-b0713bf
  .elementor-nav-menu--dropdown
  a:hover,
.elementor-9928
  .elementor-element.elementor-element-b0713bf
  .elementor-nav-menu--dropdown
  a.elementor-item-active,
.elementor-9928
  .elementor-element.elementor-element-b0713bf
  .elementor-nav-menu--dropdown
  a.highlighted {
  background-color: #f3952d;
}
.elementor-9928
  .elementor-element.elementor-element-b0713bf
  .elementor-nav-menu--dropdown
  .elementor-item,
.elementor-9928
  .elementor-element.elementor-element-b0713bf
  .elementor-nav-menu--dropdown
  .elementor-sub-item {
  font-family: roboto, Sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: none;
}
.elementor-9928
  .elementor-element.elementor-element-b0713bf
  .elementor-nav-menu--dropdown
  li:first-child
  a {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.elementor-9928
  .elementor-element.elementor-element-b0713bf
  .elementor-nav-menu--dropdown
  li:last-child
  a {
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
.elementor-9928
  .elementor-element.elementor-element-b0713bf
  .elementor-nav-menu--dropdown
  a {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.elementor-9928
  .elementor-element.elementor-element-b0713bf
  div.elementor-menu-toggle {
  color: #004d6d;
}
.elementor-9928
  .elementor-element.elementor-element-b0713bf
  div.elementor-menu-toggle
  svg {
  fill: #ffffff;
  background-color: black;
}
.elementor-9928
  .elementor-element.elementor-element-b0713bf
  .elementor-menu-toggle {
  background-color: #fff;
}
@media (min-width: 691px) {
  .elementor-9928 .elementor-element.elementor-element-b95b575 {
    --content-width: 1440px;
  }
  .elementor-9928 .elementor-element.elementor-element-bac108e {
    --width: 16.99%;
  }
  .elementor-9928 .elementor-element.elementor-element-405c4d6 {
    --width: 66%;
  }
  .elementor-9928 .elementor-element.elementor-element-342c886 {
    --width: 13%;
  }
  .elementor-9928 .elementor-element.elementor-element-8912c7d {
    --content-width: 1280px;
  }
}
@media (max-width: 1366px) and (min-width: 691px) {
  .elementor-9928 .elementor-element.elementor-element-405c4d6 {
    --width: 63%;
  }
  .elementor-9928 .elementor-element.elementor-element-342c886 {
    --width: 16%;
  }
}
@media (max-width: 1080px) and (min-width: 691px) {
  .elementor-9928 .elementor-element.elementor-element-405c4d6 {
    --width: 60%;
  }
  .elementor-9928 .elementor-element.elementor-element-342c886 {
    --width: 18%;
  }
}
@media (max-width: 991px) and (min-width: 691px) {
  .elementor-9928 .elementor-element.elementor-element-0d9fff7 {
    --width: 100%;
  }
}
@media (max-width: 1080px) {
  .elementor-9928 .elementor-element.elementor-element-b95b575 {
    --padding-top: 016px;
    --padding-bottom: 016px;
    --padding-left: 016px;
    --padding-right: 016px;
  }
  .elementor-9928 .elementor-element.elementor-element-405c4d6 {
    --align-items: center;
    --container-widget-width: calc(
      (1 - var(--container-widget-flex-grow)) * 100%
    );
  }
  .elementor-9928 .elementor-element.elementor-element-8912c7d {
    --padding-top: 016px;
    --padding-bottom: 016px;
    --padding-left: 016px;
    --padding-right: 016px;
    --z-index: 9999;
  }
  .elementor-9928 .elementor-element.elementor-element-0d9fff7 {
    --justify-content: space-between;
  }
  .elementor-9928 .elementor-element.elementor-element-85f26c2 .elementor-icon {
    font-size: 18px;
  }
  .elementor-9928
    .elementor-element.elementor-element-85f26c2
    .elementor-icon
    svg {
    height: 18px;
  }
  body:not(.rtl) .elementor-9928 .elementor-element.elementor-element-85f26c2 {
    right: 40px;
  }
  body.rtl .elementor-9928 .elementor-element.elementor-element-85f26c2 {
    left: 40px;
  }
  .elementor-9928 .elementor-element.elementor-element-85f26c2 {
    top: 16px;
  }
}
@media (max-width: 991px) {
  .elementor-9928 .elementor-element.elementor-element-3478d19 {
    --nav-menu-icon-size: 32px;
  }
  .elementor-9928
    .elementor-element.elementor-element-3478d19
    .elementor-menu-toggle {
    border-width: 2px;
    border-radius: 15px;
  }
  .elementor-9928
    .elementor-element.elementor-element-3478d19
    > .elementor-widget-container {
    margin: 0;
  }
  .elementor-9928 .elementor-element.elementor-element-8912c7d {
    --z-index: 9999;
  }
  .elementor-9928 .elementor-element.elementor-element-0d9fff7 {
    --justify-content: space-between;
    --align-items: center;
    --container-widget-width: calc(
      (1 - var(--container-widget-flex-grow)) * 100%
    );
    --flex-wrap: wrap;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
  .elementor-9928 .elementor-element.elementor-element-4c35725 img {
    max-width: 100%;
  }
  .elementor-9928
    .elementor-element.elementor-element-85f26c2
    .elementor-icon-wrapper {
    text-align: right;
  }
  .elementor-9928 .elementor-element.elementor-element-85f26c2 .elementor-icon {
    font-size: 20px;
  }
  .elementor-9928
    .elementor-element.elementor-element-85f26c2
    .elementor-icon
    svg {
    height: 20px;
  }
  body:not(.rtl) .elementor-9928 .elementor-element.elementor-element-85f26c2 {
    right: 40px;
  }
  body.rtl .elementor-9928 .elementor-element.elementor-element-85f26c2 {
    left: 40px;
  }
  .elementor-9928 .elementor-element.elementor-element-85f26c2 {
    top: 16px;
  }
  .elementor-9928 .elementor-element.elementor-element-b0713bf {
    --nav-menu-icon-size: 26px;
  }
  .elementor-9928
    .elementor-element.elementor-element-b0713bf
    .elementor-menu-toggle {
    border-width: 2px;
    border-radius: 6px;
  }
  .elementor-9928
    .elementor-element.elementor-element-b0713bf
    > .elementor-widget-container {
    margin: 0;
  }
}
@media (max-width: 690px) {
  .elementor-9928
    .elementor-element.elementor-element-3478d19
    > .elementor-widget-container {
    margin: 0;
  }
  .elementor-9928 .elementor-element.elementor-element-8912c7d {
    --margin-top: 0px;
    --margin-bottom: 8px;
    --margin-left: 0px;
    --margin-right: 0px;
    --z-index: 9999;
  }
  .elementor-9928 .elementor-element.elementor-element-4c35725 img {
    max-width: 70% !important;
  }
  .elementor-9928 .elementor-element.elementor-element-85f26c2 .elementor-icon {
    font-size: 20px;
  }
  .elementor-9928
    .elementor-element.elementor-element-85f26c2
    .elementor-icon
    svg {
    height: 20px;
  }
  body:not(.rtl) .elementor-9928 .elementor-element.elementor-element-85f26c2 {
    right: 45px;
  }
  body.rtl .elementor-9928 .elementor-element.elementor-element-85f26c2 {
    left: 45px;
  }
  .elementor-9928 .elementor-element.elementor-element-85f26c2 {
    top: 16px;
  }
  .elementor-9928 .elementor-element.elementor-element-b0713bf {
    --nav-menu-icon-size: 26px;
  }
  .elementor-9928
    .elementor-element.elementor-element-b0713bf
    .elementor-menu-toggle {
    border-width: 0;
  }
  .elementor-9928
    .elementor-element.elementor-element-b0713bf
    > .elementor-widget-container {
    margin: 0;
  }
}
